.employment{
    width: 100%
}

.jobLinks{
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: auto;
    padding: 10px;
}

.jobLink{
    margin: 5px;
    margin-bottom: 22px;
    border-color: black;
    border-style: solid;
    padding: 5px;
}

.jobLine{
    background-color: black;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}

.googleMap{
    width: 61.8%
}
