.skillsBlock{
    margin: 40px;
    margin-top: 20px;
    position: relative;
    top: 290px;
    left: -40%;
}

.eline{
    background-color: black;
    color: white;
    margin: 10px;
    padding-left: 2px;
    padding-right: 2px;
    width: 140%;
}